 body {
     background-color: white;
 }

 #account {
     padding: 20px;
     background-color: rgb(10, 10, 11);
 }
 div.container.account {
     padding: 10px 200px;
     background-color: rgba(255, 248, 240, .81);
     background-color: rgba(30, 30, 36, 1);
     background-color: rgba(255, 248, 240, 1);
     margin: 0 auto;
     /* width: 100%; */
     border-radius: 10px;
     color: rgba(30, 30, 36, 1);
 }
 img {
   width: 70%;
   height: 60%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: -10%;
 }

 body {
   width: 100%;
   margin: 0 auto;
 }

 * {
   font-size: 11px;
   font-family: 'Muli', sans-serif;
   font-weight: lighter;

 }

 a.nav-link{
     font-size: 14px;
 }

 .left {
   /* float: left; */
   font-weight: 300%;
   text-align: center;
   width: 50%;

 }

 .right {
   /* float: right; */
   font-weight: 300%;
   text-align: center;
   width: 50%;

 }

 #bracketNameInput {
   width: 55%;
   margin: 0 auto;
 }

 #create {
   font-family: 'Exo 2', sans-serif;
   font-size: 580%;
   color: rgba(179, 0, 27, 1)
 }

 .title {
   font-family: 'Exo 2', sans-serif;
   font-size: 600%;
   font-weight: 900%;
   margin: 0 auto;
   width: 100%;
   text-align: center;
   color: rgba(37, 92, 153, 1);
   padding: 1%;

 }

 .header {
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: .5em;
   text-align: center;
   font-weight: 300%;

 }

 .red {
   color: rgba(179, 0, 27, 1);
   font-size: 120%;
   margin-bottom: 1%;
   padding: 1%;

 }

 .wrapper {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-rows: minmax(300px, auto);
   grid-gap: .15em;
   font-size: 85%;
   background-color: rgba(109, 105, 107, 1);
   border: 1px solid rgb(24, 11, 89);
   width: 80%;
   margin: 0 auto;
   padding: 0;
   font-weight: 100%;
   overflow: auto;
   overflow-y: hidden;

 }

 .columns {
   /* background-color: #656582; */
   padding: .5em 0 .5em 1em;
 }

 .columns {
   display: grid;
   grid-gap: 1em;
 }

 .columns>div {
   background-color: white;
   height: 10.9735em;
   display: grid;
   grid-auto-rows: 35%;
   grid-gap: .5em;
   width: 107.5%;
   font-size: 50%;

   /* border: 1px solid black; */
 }

 .team {
   height: 5%;
   margin: -20%;
   padding: -5%;
   position: relative;
   top: 12.5%;
   left: 6%;
   float: left;
 }

 .matchup {
   border: 1px solid rgba(37, 92, 153, 1);
   border-radius: 15px;
   width: 200%;
 }

 .matchup>div {
   padding: 8px;
   background-color: lightgray;
   border: 1px solid gray;
   height: 60%;
   width: 85%;
   align-items: center;
   color: black;
   font-size: 210%;
   font-weight: bolder;
   text-align: center;
   line-height: 20%;
   margin: 1%;

 }

 form {
   width: 90%;
   margin: 0 auto;
 }

 .form-group {
   font-size: 200%;
   color: rgba(37, 92, 153, 1);
   text-align: center;


 }

 .form-control {
   font-size: 90%;
   width: 50%;
   color: rgba(37, 92, 153, 1);
   text-align: center;
   font-weight: light;

 }

 #south,
 #east,
 #west,
 #midwest {
   font-size: 400%;
   width: 40%;
   padding: 3%;
   margin: 1%;

 }

 @font-face {
   font-family: 'sportsFont';
   src: url('../sf-sports-night/TrueType/SFSportsNight.tff');
   src: url('../sf-sports-night/TrueType/SFSportsNight.ttf') format('truetype'),
 }

 #four {
   margin: 0 auto;
   margin-top: 2%;
   margin-left: 8%;
   width: 35%;
   height: 100%;
   font-size: 300%;
   font-weight: 500%;
   font-family: url('../sf-sports-night/TrueType/SFSportsNight.ttf');

 }

 .two-one {
   margin-top: 6.5em;
 }

 .two-two {
   margin-top: 7em;
 }

 .two-three {
   margin-top: 7em;
 }

 .two-four {
   margin-top: 7em;
 }

 .three-one {
   margin-top: 19.25em;
 }

 .three-two {
   margin-top: 19.25em;
 }

 .column4>div {
   margin-top: 44.5em;
 }

 .column5>div {
   margin-top: 47.3em;
 }

 .column5 {
   padding-right: 1.75em;
 }

 #region2>.wrapper>.column1,
 #region3>.wrapper>.column1 {
   padding-right: 1.75em;

 }

 .master {
   display: grid;
   grid-template-columns: repeat(1, 2fr);
   padding: 1%;
   width: 200%;
   margin: 0 auto;
 }

 .region {
   width: 100%;
   font-weight: 300%;
   display: none;
   white-space: nowrap;
   zoom: 100%;
   /* overflow-y: scroll; */
   height: 20%;
 }

 button {
   background-color: rgba(179, 0, 27, 1);
   font-weight: 300%;
   color: white;
   /* width: 50%; */
   font-size: 390%;
   /* margin: 1%; */
   border-radius: 20%;
   margin: 0 auto;
   flex-direction: space-between;
 }

 #champ {
   width: 100%;
   font-size: 800%;
   padding: 3%;
   height: 40%;
   line-height: 800%;
   color: white;
   margin: 0 auto;
   margin-top: 1%;
 }

 .save-bracket-btn {
   font-family: 'Maven Pro', sans-serif;
   font-size: 200%;
   width: 35%;
   background-color: rgba(37, 92, 153, 1);
   text-align: center;
   color: white;
   margin-top: 5%;
   margin-left: 33%;

 }

 #fullBracket {
   display: none;
   width: 100%;
 }

 #masterBracket {
   height: 100%;
   border-radius: 15%;
   text-align: center;
   margin-left: 25%;
   margin-bottom: 1%;
   width: 50%;
   font-size: 250%;
   line-height: 160%;
   background-color: rgba(37, 92, 153, 1);
   color: white;
   padding: 1%;
 }

 .container {
   width: 80%;
   margin: 0 auto;
 }

 .game-info-icon {
   position: relative;
   right: -5%;
   top: -6px;
 }

 #R5WX1a,
 #R5WX2a,
 #R5YZ1a,
 #R5YZ2a {
   height: 200%;
   font-size: 500%;
   line-height: 1em;
 }

 #champ>.region {
   float: left;
   margin: 0;
   width: 80%;

 }


 /*-------- Mobile media breakpoint ---------*/

 @media screen and (max-width: 768px) {
   #wrapper {
     grid-template-columns: repeat(2, 1fr);
   }
   #header {
     grid-template-columns: repeat(12, 1fr);
   }
   .game-info-icon {
     right: -85%;
     top: -7.5px;
   }

 }