/* Coolors Exported Palette - coolors.co/1e1e24-fff8f0-6d696b-b3001b-255c99 */

/* Color Palette */
.resinBlack {
    color: rgba(30, 30, 36, 1);
}

.floralWhite {
    color: rgba(255, 248, 240, 1);
}

.dimGray {
    color: rgba(109, 105, 107, 1);
}

.alabamaCrimson {
    color: rgba(179, 0, 27, 1);
}

.blue {
    color: rgba(37, 92, 153, 1);
}
